## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config1 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../cities.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Long,Max temp,Humidity,Cloudness,Wind S,Current Description
0,0,Ngunguru,NZ,-35.6167,174.5000,58.15,78,100,2.80,light rain
1,1,Cacapava Do Sul,BR,-30.5122,-53.4914,82.74,36,0,4.32,clear sky
2,2,Rikitea,PF,-23.1203,-134.9692,72.81,78,100,3.80,overcast clouds
3,3,Atuona,PF,-9.8000,-139.0333,77.43,68,30,14.50,scattered clouds
4,4,Sao Joao Da Barra,BR,-21.6403,-41.0511,84.29,79,73,13.29,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
Min_Temp = int(input("Ingresa Temperatura Minima: "))
Max_Temp = int(input("Ingresa Tempreatura Maxima: "))

Ingresa Temperatura Minima: 25
Ingresa Tempreatura Maxima: 35

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
temp_df = city_data_df.loc[city_data_df["Max temp"]<=Max_Temp]
len(temp_df)

97

In [5]:
# 4a. Determine if there are any empty rows.
temp_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Long                   0
Max temp               0
Humidity               0
Cloudness              0
Wind S                 0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
temp_df.dropna()
temp_df.isnull().sum()
temp_df.head()

,City_ID,City,Country,Lat,Long,Max temp,Humidity,Cloudness,Wind S,Current Description
6,6,Tiksi,RU,71.6872,128.8694,11.03,95,100,3.71,overcast clouds
7,7,Chara,RU,56.9064,118.2631,29.01,55,100,2.24,overcast clouds
13,13,Berdigestyakh,RU,62.0989,126.6992,20.35,93,100,5.95,overcast clouds
25,25,Yarkovo,RU,57.4028,67.0786,32.58,97,100,8.14,overcast clouds
31,31,Cherskiy,RU,68.7500,161.3000,-19.03,99,10,5.46,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df =temp_df.copy()


#hotel_df = pd.DataFrame(columns=column_names)
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.tail()

,City_ID,City,Country,Lat,Long,Max temp,Humidity,Cloudness,Wind S,Current Description,Hotel Name
698,698,Nyrob,RU,60.7330,56.7202,32.43,98,100,7.18,light snow,
699,699,Pankrushikha,RU,53.8319,80.3406,29.10,51,38,6.06,scattered clouds,
700,700,Ust-Kulom,RU,61.6864,53.6902,33.24,98,100,8.10,overcast clouds,
710,710,Teya,RU,60.3778,92.6267,22.39,81,99,14.25,overcast clouds,
715,715,Verkhoyansk,RU,67.5447,133.3850,10.96,96,100,2.28,overcast clouds,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
base_url = base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}


# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    try:
        # 6c. Get latitude and longitude from DataFrame
        lat = str(row["Lat"])
        lon = str(row["Long"])

        # 6d. Set up the base URL for the Google Directions API to get JSON data.
        params["location"] = lat+", "+lon
        # 6e. Make request and retrieve the JSON data from the search. 
        hoteles = requests.get(base_url, params=params).json() 

        # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        hotel_df.loc[index, "Hotel Name"] = hoteles["results"][0]["name"]
    except:
        hotel_df.loc[index, "Hotel Name"] = np.nan
        print("Hotel not found ")
        pass
hotel_df

Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found

,City_ID,City,Country,Lat,Long,Max temp,Humidity,Cloudness,Wind S,Current Description,Hotel Name
6,6,Tiksi,RU,71.6872,128.8694,11.03,95,100,3.71,overcast clouds,Arktika
7,7,Chara,RU,56.9064,118.2631,29.01,55,100,2.24,overcast clouds,NaN
13,13,Berdigestyakh,RU,62.0989,126.6992,20.35,93,100,5.95,overcast clouds,NaN
25,25,Yarkovo,RU,57.4028,67.0786,32.58,97,100,8.14,overcast clouds,Тобол
31,31,Cherskiy,RU,68.7500,161.3000,-19.03,99,10,5.46,clear sky,Gostinitsa
...,...,...,...,...,...,...,...,...,...,...,...
698,698,Nyrob,RU,60.7330,56.7202,32.43,98,100,7.18,light snow,Gostinitsa
699,699,Pankrushikha,RU,53.8319,80.3406,29.10,51,38,6.06,scattered clouds,"Гостиница ""Уют"""
700,700,Ust-Kulom,RU,61.6864,53.6902,33.24,98,100,8.10,overcast clouds,Ip Napalkov Vasiliy Dmitriyevich
710,710,Teya,RU,60.3778,92.6267,22.39,81,99,14.25,overcast clouds,NaN
715,715,Verkhoyansk,RU,67.5447,133.3850,10.96,96,100,2.28,overcast clouds,NaN

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_df = hotel_df.dropna(how="any")

In [10]:
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Long                   0
Max temp               0
Humidity               0
Cloudness              0
Wind S                 0
Current Description    0
Hotel Name             0
dtype: int64

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacations.csv"
# 8b. Export the City_Data into a csv
clean_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Long"]]
locations

         Lat      Long
6    71.6872  128.8694
7    56.9064  118.2631
13   62.0989  126.6992
25   57.4028   67.0786
31   68.7500  161.3000
..       ...       ...
698  60.7330   56.7202
699  53.8319   80.3406
700  61.6864   53.6902
710  60.3778   92.6267
715  67.5447  133.3850

[97 rows x 2 columns]

In [13]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))